{% extends 'myapp/temp_inherit_home.html' %}

 {% block content %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Class</th>
        <th scope="col">Address</th>
         </tr>
    </thead>
    <tbody>
        {% for classroom in classrooms %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{classroom.name}}</td>
        <td>{{classroom.address}}</td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %}



